*{
    margin: 0;
    padding: 0;
}
body{
    max-width: 100%;
    min-height: 100vh;
    background:rgb(12, 12, 12);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}
.logo{
    max-width: 100%;
    font-size: 30px;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 10px;
    color: orangered;
    animation: slideInLeft 2s ease-in-out;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 50px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    transition: all .6s ease-in-out;
   
}
nav a:hover{
color: orangered;
transform: translateY(-6px);
}
nav li:first-child{
    margin-right: auto;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    max-width: 100%;
    z-index: 999;
    background-color: rgba(12, 11, 11, 0.76);
    backdrop-filter: blur(10px);
    box-shadow:-10px 0 10px rgba(0,0,0,0.1) ;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
  width: 100%;
}
.sidebar i{
    color: white;
}
.menubutton{
    display: none;
}
section{
   max-width: 100%;

}
.disp{
    max-width: 100%;
    margin-left: 20px;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    animation: slideIn 3s ease-in-out;
}
.img{
  
    max-width: 100%;
    width: 100%;
    height: 100%;
    opacity: 0; 
    animation: slideInRight 5s ease-in-out infinite alternate;
    object-fit: contain;
}
.disp-text h1{
max-width: 100%;
font-size: 45px;
 line-height:1;
  font-weight: 700;
  margin: 20px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: -1px -1px 0px #000,7px 7px 0px,#000,9px,9px 0px #000005;
}
.disp-text h1 span{
    color: orangered;
    max-width: 100%;
}
.disp-text h6{
    max-width: 100%;
    line-height: .002;
    font-size: 22px;
    font-weight: 600;
}
.disp-text h6 span{
    max-width: 100%;
    color: orangered;
}
.disp-text h4{
    max-width: 100%;
    line-height: 0.5;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;

}
.disp-text p{
  
    font-size: 17px;
    color: rgba(128, 128, 128, 0.596);
    margin-bottom: 20px;
    line-height: 1;
    
}
.disp-icons i{
    max-width: 100%;
    display: inline-block;
    font-size: 28px;
    color: white;
    margin-right: 20px;
    transition: all .6s ease;
    margin-bottom: 40px;
}
.disp-icons i:hover{
    transform: translateY(-10px);
    color: orangered;
}
.disp-btn{
    display: flex;
    align-items: center;
}
.btn1{
    display: inline-block;
    padding: 15px 30px;
    background-color: transparent;
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .05em;
    border-radius: 30px;
    border:  2px 2px solid orangered;
    box-shadow: 2px 2px 2px 2px orangered;
    transition:  all .6s ease;
}
.btn1:hover{
color: white;
background-color:orangered;
}
.btn2{
    display: inline-block;
    padding: 15px 30px;
    margin-left: 30px;
    background-color: transparent;
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .05em;
    border-radius: 30px;
    border:  2px 2px solid orangered;
    box-shadow: 2px 2px 2px 2px orangered;
    transition:  all .6s ease;
}
.btn2:hover{
color: white;
background-color:orangered;
}
.scroll {
   position: absolute;
   top: 98%;
   left: 47%;
   transform: translateY(-50%);
   display: flex;
   align-items: center;
}
@keyframes slideInLeft{
    from{
  transform: translateY(-300px);
    }to{
   transform: translateY(0px);
    }
  }
  @keyframes slideIn{
    from{
  transform:translateX(-300px);
    }to{
   transform: translateX(0px);
    }
  }
  
  
  @keyframes slideInRight {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
@media(max-width:780px){
    .hideOnMobile{
        display: none;
    }
    .menubutton{
        display: block;
    }
}
@media(max-width:400px){
    .disp{
        margin-top: 20px;
        text-align: center;
       }
    .sidebar{
        width: 100%;
    }
    .disp-text h1{
        font-size: 10px;
    }
    .disp-text h4{
        font-size: 13px;
    }
}
/* Mobile */
@media (max-width: 970px) {
   .disp{
    display: inline-block;
    margin-top: 20px;
    text-align: center;
   }
   .disp-text h1{
    font-size: 28px;
   }
   .disp-text h4{
    font-size: 24px;
   }
    nav .logo{
       max-width: 100%;
        color: orangered;
    }
    .navbar{
        display: none;
    }
    #menu{
        display: block;
        color: white;
    }
    .img img{
  max-width: 100%;
 
    }
    .disp-btn{
        justify-content: center;
    }
    }
    
    